@using BlogTube.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model ArticleViewModel
@{
    string viewsText = Model.Views == 1 ? "view" : "views";
    const string SelectedVoteClassName = "selected-vote";
}

<div class="alert alert-light col-12">
    <h1 class="h2">@Model.Title</h1>
    <div class="alert alert-info py-2 my-3">
        Published by
        <span class="font-italic font-weight-bold">@@@Model.AuthorName</span>
        <span class="font-italic">on @Model.PublishedOn</span>
        <span class="text-uppercase font-weight-bold">@Model.CategoryName</span>
    </div>

    <p class="font-weight-normal">@Model.Body</p>

    <span class="alert alert-secondary">@Model.Views @viewsText</span>

    <button id="upvote-button"
            class="@if (Model.UserVoteType == VoteType.Up)@SelectedVoteClassName alert alert-secondary ml-2"
            onclick="vote('@Model.Id', true)">

        <i class="fa fa-thumbs-up">
            <span>@Model.Upvotes</span>
        </i>
    </button>

    <button id="downvote-button"
            class="@if (Model.UserVoteType == VoteType.Down)@SelectedVoteClassName alert alert-secondary"
            onclick="vote('@Model.Id', false)">

        <i class="fa fa-thumbs-down">
            <span>@Model.Downvotes</span>
        </i>
    </button>

    @if (Model.CanBeDeleted)
    {
        <button id="delete-button" onclick="showDeleteForm()" class="alert alert-warning">Delete</button>

        <form method="post" asp-action="Delete" asp-route-id="@Model.Id" id="delete-form" class="my-4" >

            <input id="delete-input" 
                   name="deleteValue" 
                   class="form-control col-6" 
                   oninput="validateDeleteInputValue()" 
                   type="text" 
                   placeholder="Type in DELETE" 
                   autocomplete="off" />

            <div class="my-2">
                <input id="cancel-delete-button" 
                       value="Cancel" 
                       class="btn btn-dark" 
                       onclick="hideDeleteForm()"/>

                <input id="delete-forever-button" 
                       type="submit" 
                       value="Delete forever" 
                       class="btn btn-danger"/>
            </div>
        </form>
    }

</div>

<style>
    .@SelectedVoteClassName {
        background-color: gray;
        color: floralwhite;
    }
    #delete-button {
        color: white;
        background-color: #d9534f;
    }
    #cancel-delete-button:hover {
        cursor: pointer;
    }
</style>

<script>
    function vote(articleId, isUp) {
        let token = "sdhsAksWOSlPPsk90SlllaXmNsavxbal";
        let json = { articleId: articleId, isUp: isUp };
        $.ajax({
            url: "/api/votes",
            type: "POST",
            data: JSON.stringify(json),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            headers: { "X-CSRF-TOKEN": token },
            success: function (data) {
                let subpath = ">i>span";
                let upvoteButtonId = "#upvote-button";
                let downvoteButtonId = "#downvote-button";

                $(`${upvoteButtonId}${subpath}`).text(data.upvotes);
                $(`${downvoteButtonId}${subpath}`).text(data.downvotes);
                $(upvoteButtonId).removeClass("@SelectedVoteClassName");
                $(downvoteButtonId).removeClass("@SelectedVoteClassName");

                if (data.isUpvoted) {
                    $(upvoteButtonId).addClass("@SelectedVoteClassName");
                }
                if (data.isDownvoted) {
                    $(downvoteButtonId).addClass("@SelectedVoteClassName");
                }
            }
        });
    }

    function validateDeleteInputValue() {
        let text = document.getElementById("delete-input").value;
        if (text != "DELETE") {
            hideDeleteForeverButton();
        }
        else {
            showDeleteForeverButton();
        }
    }

    function showCancelDeleteButton() {
        document.getElementById("cancel-delete-button").style.display = "block";
    }

    function hideCancelDeleteButton() {
        document.getElementById("cancel-delete-button").style.display = "none";
    }

    function showDeleteForeverButton() {
        document.getElementById("delete-forever-button").style.display = "inline";
    }

    function hideDeleteForeverButton() {
        document.getElementById("delete-forever-button").style.display = "none";
    }

    function hideDeleteForm() {
        document.getElementById("delete-form").style.display = "none";
        document.getElementById("delete-button").style.display = "inline";
    }

    function showDeleteForm() {
        document.getElementById("delete-form").style.display = "block";
        document.getElementById("delete-input").value = "";
        hideDeleteForeverButton();
        document.getElementById("delete-button").style.display = "none";
    }

    hideDeleteForm();

</script>